.Cell {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 15vmin;
    height: 15vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
}