.wrapper {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    .GameField {
        display: flex;
        flex-direction: column;
        width: 60vmin;
        height: 60vmin;
    } 
    button {
        position: absolute;
        width: 60vmin;
        top: 95vh;
        height: 5vh;
        font-size: 24px;
        border-radius: 5px;
        cursor: pointer;
    }   
}

