.HeightScroll {
    position: fixed;
    left: 95vw;
    width: 2.5vw;
    top: 10vh;
    height: 80vh;
    border-radius: 100px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}